<div class="row">
  <div class="col-sm-12">
    <button class="btn btn-success">New Recepe</button>
  </div>
</div>
<hr>
<div class="col-sm-12">
  <div class="list-group" *ngFor="let recepe of recepes">
    <a href="" class="list-group-item list-group-item-action">
      <div class="float-left">
        <h4 class="mb-1">{{recepe.name}}</h4>
        <p class="list-group-item-text">{{recepe.description}}</p>
      </div>
      <span class="float-right">
        <img [src]="recepe.imagePath" alt="{{recepe.name}}" class="img-responsive" style="max-height: 100px;">
      </span>
    </a>
    <app-recepeItem></app-recepeItem>
  </div>
</div>